src/main/app/sunrisesunsetdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:sunrisesunset="http://www.mulesoft.org/schema/mule/sunrisesunset" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/sunrisesunset http://www.mulesoft.org/schema/mule/sunrisesunset/current/mule-sunrisesunset.xsd">
    <sunrisesunset:config name="Sunrisesunset__Configuration" doc:name="Sunrisesunset: Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="sunrisesunsetdemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sunrise" doc:name="HTTP"/>
        <sunrisesunset:search-on-location config-ref="Sunrisesunset__Configuration" lat="#[message.inboundProperties.'http.query.params'.lat]" lng="#[message.inboundProperties.'http.query.params'.lng]" doc:name="Sunrisesunset"/>
    </flow>
</mule>
